// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

//$primary: #fed136 !default;
//$primary: #00487b !default;
//$secondary: #77beff !default;

$primary_orig: #568BDA;
$secondary_orig: #75B2F1;
$primary: #003366;
$secondary: #2f5597;
$ternary: #dae3f3;

/* Color Theme Swatches in Hex */
$chickens1-1-hex: #568BDA;
$chickens1-2-hex: #75B2F1;
$chickens1-3-hex: #6E8942;
$chickens1-4-hex: #5B7137;
$chickens1-5-hex: #BD7B4D;

/* Color Theme Swatches in RGBA */
$chickens1-1-rgba: rgba(86,139,218, 1);
$chickens1-2-rgba: rgba(117,178,241, 1);
$chickens1-3-rgba: rgba(110,137,66, 1);
$chickens1-4-rgba: rgba(91,113,55, 1);
$chickens1-5-rgba: rgba(189,123,77, 1);

/* Color Theme Swatches in HSLA */
$chickens1-1-hsla: hsla(215, 64, 59, 1);
$chickens1-2-hsla: hsla(210, 81, 70, 1);
$chickens1-3-hsla: hsla(82, 34, 39, 1);
$chickens1-4-hsla: hsla(82, 34, 32, 1);
$chickens1-5-hsla: hsla(24, 45, 52, 1);

//#### OGC BRAND COLORS #####\\
//Soft Gray
// RGB: 231 230 230 HEX: #e7e6e6
//Dark Gray
// RGB: 54 64 73 HEX: #364049
//Soft Blue
// RGB: 218 227 243 HEX: #dae3f3
//Logo Blue
// RGB: 0 51 102 HEX: #003366
//Accented Blue
// RGB: 47 85 151 HEX: #2f5597
